#--------------------------------- IDE GitIgnore ------------------------------------------------------
/.idea
/.vscode
/nbproject
/.history


#--------------------------------- Dependencies Gitignore ----------------------------------------------
/node_modules
/vendor

# --------------------------------- Configuration GitIgnore --------------------------------------------
.env
composer.lock

# --------------------------------- ignore zip files --------------------------------------------

.zip
.tar.gz
